@page "/"

<div class="app-component">
    <div @ref="TextElement">This is text.</div>
    <div>
        <button @onclick="@(async () => await CodeEditor.Focus())">Focus</button>
        <button>GetConfiguration</button>
        <button>ApplyFontInfo</button>
    </div>
    <div class="editor-container">
        <CodeEditor @ref="CodeEditor" Options="@_options"></CodeEditor>
    </div>

</div>

@code {
    private EditorOptions _options;
    CodeEditor CodeEditor;
    ElementReference TextElement;

    protected override void OnInitialized()
    {
        Console.WriteLine("Initialized...");
        _options = new EditorOptions
        {
            Value = "// --- This is a comment",
            Language = "csharp",
            FontSize = 18,
            GotoLocation = new GoToLocationOptions
            {
                Multiple = "goto"
            }
        };
    }
}
